<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurityannotation:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurity-annotation.war">
      <element id="artifact" artifact-name="SpringSecurityannotation:war exploded" />
    </root>
  </artifact>
</component>